/* Imports */
/* --------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/*   */
/* --------------------------------------------------------- */
* {
  /* Vairables */
  --primary-color: #f7fff7;
  --secondary-color: #292f36;
  --important-color: #ffe66d;
  --warning-color: #ff6b6b;
  --content-color-one: #4ecdc4;
  --content-color-two: #62c96c;
  --purple: #b894ec;

  /* Font Family */
  font-family: "Quicksand", sans-serif;
}

/* Basic Formatting Applies to Body, Header, and Footer Elements */
body,
header,
footer {
  /* Setting Base Colours */
  background-color: var(--primary-color);
  color: var(--secondary-color);

  /* Setting Base Font */
  font-family: "Quicksand", sans-serif;
}

/* Setting Font Sizes */
body,
header {
  font-size: 20px;
}

h2 {
  font-size: 56px;
  font-weight: 700;
  text-decoration: underline;
  padding: 1rem;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  text-decoration: underline;
  padding: 1rem;
}

/* --------------------------------------------------------- */
/* Setting Header and Header Element Styles */
header {
  display: flex;
  max-height: 15em;
  justify-content: space-evenly;
  align-items: center;
}

#heading-banner {
  display: flex;
}

#main-logo {
  max-height: 100%;
  max-width: 100%;
}

#main-logo:hover {
  outline: 1px solid black;
  box-sizing: border-box;
}

#main-heading {
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#title-img {
  width: 70vw;
  max-height: inherit;
}

/* --------------------------------------------------------- */
/*  Navigation Bar Styling */
#main-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 3em;
  font-weight: 900;

  background: rgb(9, 9, 121);
  background: linear-gradient(90deg,
      rgba(9, 9, 121, 1) 0%,
      rgba(0, 212, 255, 1) 50%,
      rgba(9, 9, 121, 1) 100%);

  color: white;

  border-top: 2px solid black;
  border-bottom: 5px groove seagreen;
}

#main-nav>#nav-ul {
  display: flex;
  width: 85%;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  padding: 0.5em 0.3em;
}

/* Recieved help from here https://www.squash.io/how-to-apply-outline-effect-to-text-in-css/ */
.outline-text {
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

/* --------------------------------------------------------- */
/*  Navigation Bar Mouse Hover Styling*/
.nav-item:hover {
  transition: ease-in-out 500ms;
  color: darkgrey;
}

/* --------------------------------------------------------- */
/*  Spacing for left panel and main content */
main {
  display: flex;
  margin: 3rem 0;
  height: 70vw;
}

#left-panel {
  width: 11vw;
  max-width: 11vw;
  margin: 0 2rem 0 0.3rem;

  display: flex;
  flex-direction: column;
}

#main-content {
  width: 76vw;
  background-color: rgba(78, 205, 196, 0.3);
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px groove black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------------------------------------------- */
/*  Styling for the elements within the left side panel */
#left-help {
  background-color: var(--important-color);
  box-sizing: border-box;
  border: #967d00 solid 1px;
  overflow-wrap: normal;
  max-height: 40vh;

  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 0 1rem 0;
}

#left-help-title {
  color: #967d00;
  text-decoration: underline;
  font-size: 36px;
  padding: 1rem 0;
  text-align: center;
}

#left-help-img {
  max-height: 100%;
  max-width: 100%;
}

#left-content {
  border: black solid 1px;
}

/* --------------------------------------------------------- */
/*  Styling for the Main Paragraph homepage. */
#welcome-p {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

/* --------------------------------------------------------- */
/*  Styling for the First Paragraphs on the rest of the website. */
.first-p {
  text-align: center;
}

/* --------------------------------------------------------- */
/*  Styling for the Footer. */
footer {
  font-size: 16px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: 5rem;
  border-top: 2px var() solid;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Gives some spacing around the footer links */
#flinks {
  margin: 1em 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#fgithub,
#fhcfe {
  display: flex;
  align-items: center;
}

.falink {
  display: flex;
  align-items: center;
  fill: var(--primary-color);
  stroke: var(--primary-color);
  text-decoration: underline;
}

.website-icon {
  stroke: var(--primary-color);
}

.falink:hover {
  color: var(--purple);
  fill: var(--purple);
  stroke: var(--purple);
}

.falink:hover>.website-icon {
  stroke: var(--purple);
}

/* Styling hyperlinks when they are hovered over. */
footer>div>a:hover {
  color: var(--content-color-one);
}

/* --------------------------------------------------------- */
/* Styling Spans, similar to how boostrap does this */
/* Warning Content Font */
.w-font {
  color: var(--warning-color);
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

.pad-right-5 {
  padding-right: 5px;
}