/* Imports */
/* --------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/*  Important Declaration */
/* --------------------------------------------------------- */
* {
  /* Vairables */
  --primary-color: #f7fff7;
  --secondary-color: #292f36;
  --important-color: #ffe66d;
  --important-color-dark: #967d00;
  --warning-color: #ff6b6b;
  --content-color-one: #4ecdc4;
  --content-color-one-dark: #38948e;
  --content-color-two: #62c96c;
  --content-color-two-dark: #3e8145;
  --purple: #b894ec;
  --hoverable: #fdb833;

  /* Opacity Values */
  --fifteen-darker: rgba(0, 0, 0, 0.15);
  --quarter-darker: rgba(0, 0, 0, 0.25);
  --half-darker: rgba(0, 0, 0, 0.5);
  --three-quarter-darker: rgba(0, 0, 0, 0.75);

  /* Font Family */
  font-family: "Quicksand", sans-serif;
}

/* Basic Formatting Applies to Body, Header, and Footer Elements */
body,
header,
footer {
  /* Setting Base Colours */
  background-color: var(--primary-color);
  color: var(--secondary-color);

  /* Setting Base Font */
  font-family: "Quicksand", sans-serif;
}

/* Setting Font Sizes */
body,
header {
  font-size: 20px;
}

h2 {
  font-size: 56px;
  font-weight: 700;
  text-decoration: underline;
  padding: 1rem;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  text-decoration: underline;
  padding: 1rem;
}

/* --------------------------------------------------------- */
/* Setting Header and Header Element Styles */
header {
  display: flex;
  max-height: 15em;
  justify-content: space-evenly;
  align-items: center;
}

#heading-banner {
  display: flex;
}

#main-logo {
  max-height: 100%;
  max-width: 100%;
}

#main-logo:hover {
  outline: 2px solid var(--purple);
  box-sizing: border-box;
}

#main-heading {
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#title-img {
  width: 70vw;
  max-height: inherit;
}

/* --------------------------------------------------------- */
/*  Navigation Bar Styling */
#main-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 3em;
  font-weight: 900;

  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 50%,
    rgba(9, 9, 121, 1) 100%
  );

  color: white;

  border-top: 2px solid black;
  border-bottom: 5px groove seagreen;
}

#main-nav > #nav-ul {
  display: flex;
  width: 85%;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  padding: 0.5em 0.3em;
}

/* Recieved help from here https://www.squash.io/how-to-apply-outline-effect-to-text-in-css/ */
.outline-text {
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

/* --------------------------------------------------------- */
/*  Navigation Bar Mouse Hover Styling*/
.nav-item:hover {
  transition: ease-in-out 500ms;
  color: darkgrey;
}

/* --------------------------------------------------------- */
/*  Spacing for left panel and main content */
main {
  display: flex;
  margin: 3rem 0;
}

#left-panel {
  width: 11vw;
  max-width: 11vw;
  margin: 0 2rem 0 0.3rem;

  display: flex;
  flex-direction: column;
}

#main-content {
  width: 76vw;
  background-color: rgba(78, 205, 196, 0.3);
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px groove black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content > p {
  padding: 0.5rem 0;
  text-align: center;
}

#home-quiz-btn {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: 900;
  text-decoration: underline;
  background-color: var(--content-color-two);
  border: var(--secondary-color) 3px solid;
  border-radius: 15px;
}

#home-quiz-btn:hover {
  color: var(--warning-color);
  cursor: pointer;
}

/* Styling for About page. */
#teachers-info {
  background-color: var(--fifteen-darker);
  padding: 0.75rem;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--content-color-two-dark);
  font-weight: 500;
}

#help-info {
  background-color: var(--fifteen-darker);
  padding: 0.75rem;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--content-color-two-dark);
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* --------------------------------------------------------- */
/*  Styling for the elements within the left side panel */
#left-help {
  background-color: var(--important-color);
  box-sizing: border-box;
  border: var(--important-color-dark) solid 1px;
  overflow-wrap: normal;
  max-height: 40vh;

  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 0 1rem 0;
}

#left-help-title {
  color: var(--important-color-dark);
  text-decoration: underline;
  font-size: 36px;
  padding: 1rem 0;
  text-align: center;
}

#left-help-img {
  max-height: 100%;
  max-width: 100%;
}

#left-content {
  border: var(--important-color-dark) solid 1px;
  padding: 0.3rem;
  background-color: var(--important-color);
  text-align: center;
}

#left-help-here {
  font-weight: 900;
  color: var(--important-color-dark);
  font-style: italic;
  text-decoration: underline;
}

/* --------------------------------------------------------- */
/*  Styling for the Main Paragraph homepage. */
#welcome-p {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  padding-bottom: 1rem;
}

/* --------------------------------------------------------- */
/*  Styling for the First Paragraphs on the rest of the website. */
.first-p {
  text-align: center;
}

/* --------------------------------------------------------- */
/* Styling for image section on gallery page. */
#gallery {
  display: flex;
  align-items: center;
}

.gallery-item {
  max-width: 25% !important;
  padding: 0.5rem;
}

/* --------------------------------------------------------- */
/* Styling for videos section on media page. */
.video-item {
  width: 480px;
  height: 240px;
}

/* YouTube Channel Styling. */
#media-yt-channels {
  display: flex;
}

.media-yt-channel-item {
  margin: 0.2rem;
}

.media-yt-channel-item:hover {
  outline: 3px var(--purple) solid;
  box-sizing: border-box;
}

/* --------------------------------------------------------- */
/*  Styling for the Contact Form. */
#cform {
  background-color: var(--content-color-two);
  box-sizing: border-box;
  outline: 1px solid black;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 15px;
}

.cform-p {
  text-align: center;
  padding-bottom: 0.3rem;
}

/* --------------------------------------------------------- */
/*  Styling for the Footer. */
footer {
  font-size: 16px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: 5rem;
  border-top: 2px var() solid;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Gives some spacing around the footer links */
#flinks {
  margin: 1em 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#fgithub,
#fhcfe {
  display: flex;
  align-items: center;
}

.falink {
  display: flex;
  align-items: center;
  fill: var(--primary-color);
  stroke: var(--primary-color);
  text-decoration: underline;
}

.website-icon {
  stroke: var(--primary-color);
}

.falink:hover {
  color: var(--purple);
  fill: var(--purple);
  stroke: var(--purple);
}

.falink:hover > .website-icon {
  stroke: var(--purple);
}

/* Styling hyperlinks when they are hovered over. */
footer > div > a:hover {
  color: var(--content-color-one);
}

/* --------------------------------------------------------- */
/* Styling Spans, similar to how boostrap does this */
/* Warning Content Font */
.w-font {
  color: var(--warning-color);
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

/* Important Content Font */
.i-font {
  color: var(--important-color);
  font-style: italic;
  font-weight: 900;
}

/* Required Content Font */
.required {
  color: var(--warning-color);
  font-style: italic;
}

/* Generic Classes for small styles */
.pad-right-5 {
  padding-right: 5px;
}

/* Bold Font */
.bold {
  font-weight: 900;
}

/* Italics Font */
.italics {
  font-style: italic;
}
/* Hoverable Item */
.hoverable {
  color: var(--hoverable);
}

.hoverable:hover {
  text-decoration: underline;
  color: var(--purple);
}

/* Outline/Border */
.outline-border {
  outline: var(--secondary-color) 1px solid;
}

/* Border Radius */
.border-radius-15 {
  border-radius: 15px;
}