/* Imports */
/* --------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*   */
/* --------------------------------------------------------- */
* {
  /* Vairables */
  --primary-color: #F7FFF7;
  --secondary-color: #292F36;

  /* Font Family */
  font-family: "Quicksand", sans-serif;
}

/* Basic Formatting Applies to Body, Header, and Footer Elements */
body,
header,
footer {
  /* Setting Base Colours */
  background-color: var(--primary-color);
  color: var(--secondary-color);

  /* Setting Base Font */
  font-family: "Quicksand", sans-serif;
}

/* Setting Heading 1 Styling */
h1 {
  font-size: 64px;
}

/* --------------------------------------------------------- */
/* Setting Header and Header Element Styles */
header {
  display: flex;
  max-height: 10em;
  margin-bottom: 1em;
}

#heading-banner {
  display: flex;
  width: 100vw;
}

#main-logo {
  max-height: 100%;
  max-width: 100%;
}

#main-heading {
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------------------- */
/*  Spacing for left panel and main content */
main {
  display: flex;
}

#left-panel {
  width: 12vw;
  max-width: 12vw;
}

#main-content {
  width: 88vw;
}

/* --------------------------------------------------------- */
/*  Styling for the elements within the left side panel */
