/* Imports */
/* --------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/*   */
/* --------------------------------------------------------- */
* {
  /* Vairables */
  --primary-color: #f7fff7;
  --secondary-color: #292f36;
  --important-color: #ffe66d;
  --warning-color: #ff6b6b;
  --content-color-one: #4ecdc4;
  --content-color-two: #62c96c;
  --purple: #b894ec;
  --warning-text: #ff2c2c;

  /* Font Family */
  font-family: "Quicksand", sans-serif;
}

/* Basic Formatting Applies to Body, Header, and Footer Elements */
body,
header,
footer {
  /* Setting Base Colours */
  background-color: var(--primary-color);
  color: var(--secondary-color);

  /* Setting Base Font */
  font-family: "Quicksand", sans-serif;
}

/* Setting Font Sizes */
h1 {
  font-size: 64px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}

h2 {
  font-size: 56px;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}

main {
  display: flex;
  margin: 3rem 0;
}

#left-panel {
  width: 11vw;
  max-width: 11vw;
  margin: 0 2rem 0 0.3rem;
}

#left-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--important-color);
  border: var(--secondary-color) solid 1px;
  padding:0.3rem;
}

#left-help-title {
  color: #967d00;
  text-decoration: underline;
  font-size: 36px;
}

#left-help-p {
  padding: 0.5rem;
  text-align: center;
}

#main-content {
  width: 76vw;
  max-width: 76vw;
  background-color: rgba(78, 205, 196, 0.3);
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px groove var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-paras {
  font-size: 1.3rem;
  padding: 0.4rem 0.2rem;
}

/* --------------------------------------------------------- */
/*  Styling for the Important Paragraph. */
#importantContent {
  background-color: var(--warning-color);
  padding: 0.6rem;
  margin: 1.5rem;
}

.importantTitle {
  padding-bottom: 1rem;
  color: var(--warning-text)
}

.questions
/* --------------------------------------------------------- */
/*  Styling for the Footer. */
footer {
  font-size: 16px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: 5rem;
  border-top: 2px var() solid;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Gives some spacing around the footer links */
#flinks {
  margin: 1em 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#fgithub,
#fhcfe {
  display: flex;
  align-items: center;
}

.falink {
  display: flex;
  align-items: center;
  fill: var(--primary-color);
  stroke: var(--primary-color);
  text-decoration: underline;
}

.website-icon {
  stroke: var(--primary-color);
}

.falink:hover {
  color: var(--purple);
  fill: var(--purple);
  stroke: var(--purple);
}

.falink:hover>.website-icon {
  stroke: var(--purple);
}

/* Styling hyperlinks when they are hovered over. */
footer>div>a:hover {
  color: var(--content-color-one);
}

/* Global Styles */
.borderRadius {
  border-radius: 15px;
}